<section id="about" class="section section--content">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">О нас</h3>
			<hr class="section-dash"/>
			<div class="section-subtitle">
				Мы — малый бизнес, а поэтому имеем меньшие издержки при личной ответственности за результат. У нашей слаженной команды за плечами большой опыт работы в официальных автосервисах различных марок, знание лучших практик и отлаженный техпроцесс ремонта.
			</div>
		</header>

		<div class="section-body section-members">
			<div class="section-member" data-aos="fade-up" data-aos-delay="0" >
				<img class="section-member-image" src="./assets/pavel-about.jpg" alt="Pavel Ulyanov">
				<h3 class="section-member-title">Павел Ульянов</h3>
				<div class="section-member-subtitle">Мастер-диагност, коммерческий директор</div>
				<div class="section-member-description">
					Работал на сервисах ниссан, лендровер и других, за плечами 10 лет опыта в сфере автоуслуг. Заслужил отличные отзывы клиентов. За все время работы имел дело с более чем 10 000 автомобилей.
				</div>
				<div class="section-member-social section-member-social-2">
					<a href="https://www.facebook.com/profile.php?id=100006160719614" class="section-member-social-link"><i class="fa fa-facebook"></i></a>
					<a href="https://vk.com/xam204" class="section-member-social-link"><i class="fa fa-vk"></i></a>
				</div>
			</div><div class="section-member" data-aos="fade-up" data-aos-delay="200">
				<img class="section-member-image" src="./assets/anton-about.jpg" alt="Pavel Ulyanov">
				<h3 class="section-member-title">Антон Столяров</h3>
				<div class="section-member-subtitle">Мастер-агрегатчик, исполнительный директор</div>
				<div class="section-member-description">
					Специализируется на переборе автоматических трансмиссий. Опыт работы в крупных автосервисах по ремонту автоматических трансмиссий более 10 лет. Владеет эксклюзивной ноу-хау методикой ремонта, позволяющей делать решения, недоступные в других сервисах.
				</div>
				<div class="section-member-social section-member-social-2">
					<a href="https://vk.com/id1376780" class="section-member-social-link"><i class="fa fa-vk"></i></a>
				</div>
			</div>
		<div>

	</div>
</section>
