<section id="brands" class="section section--brands section--gray">
	<header class="section-header">
		<h4 class="section-title" data-lang="en" data-aos="fade-up">Автобренды, с которыми мы работаем</h4>
		<hr class="section-dash" data-aos="fade-up" data-aos-delay="100"/>
	</header>
	<div class="swiper-container section-brands" data-aos="fade-up" data-aos-delay="200">
		<div class="swiper-wrapper">
			<div class="swiper-slide section-brand">
				<img src="assets/landrover.png" title="Land Rover" alt="Land Rover" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/jaguar.png" title="Jaguar" alt="Jaguar" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/nissan.png" title="Nissan" alt="Nissan" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/mitsubishi.png" title="Mitsubishi" alt="Mitsubishi" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/toyota.png" title="Toyota" alt="Toyota" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/lexus.png" title="Lexus" alt="Lexus" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/mazda.png" title="Mazda" alt="Mazda" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/honda.png" title="Honda" alt="Honda" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/subaru.png" title="Subaru" alt="Subaru" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/infiniti.png" title="Infiniti" alt="Infiniti" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/kia.png" title="Kia" alt="Kia" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/hyundai.png" title="Hyundai" alt="Hyundai" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/mercedes.png" title="Mercedes" alt="Mercedes" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/audi.png" title="Audi" alt="Audi" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/bmw.png" title="BMW" alt="BMW" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/vw.png" title="VolksWagen" alt="VolksWagen" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/opel.png" title="Opel" alt="Opel" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/porsche.png" title="Porsche" alt="Porsche" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/skoda.png" title="Skoda" alt="Skoda" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/peugeut.png" title="Peugeut" alt="Peugeut" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/renault.png" title="Renault" alt="Renault" class="section-brand-image"/>
			</div>
			<div class="swiper-slide section-brand">
				<img src="assets/citroen.png" title="Citroen" alt="Citroen" class="section-brand-image"/>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		window.addEventListener('load', function () {
			var mySwiper = new Swiper ('.section-brands', {
				direction: 'horizontal',
				loop: true,
				speed: 1000,
				autoplay: 1000,
				centeredSlides: true,

				slidesPerView: 'auto',
				spaceBetween: 0
			})
		})
	</script>
</section>
