<section id="cta" class="section section--inverse section--cta">
	<div class="centered">
		<header class="section-header">
			<i class="fa fa-star section-header-icon" aria-hidden="true"></i>
			<h3 class="section-title" data-lang="en">Ждем вашего звонка</h3>
			<div class="section-subtitle" data-lang="en">Круглосуточно по номерам телефонов</div>
		</header>
		<div class="section-body">
			<p data-aos="fade-up">
			<a href="tel:9168633" class="button button--white">916-86-33, Павел&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			<span class="button-junction">или</span>
			<a href="tel:+79992166876" class="button button--white">+7&thinsp;(999)&thinsp;216-68-76, Антон&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</p>
		</div>
	</div>
</section>
