<section class="section section--features" id="why-us">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en">Почему имеено мы?</h3>
			<hr class="section-dash" data-aos="fade-up" data-aos-delay="100"/>

			<p class="section-subtitle" data-lang="en" data-aos="fade-up" data-aos-delay="200"><span style="font-weight: 400">Pro<strong>АКПП</strong></span> предлагает вам все виды ремонта и обслуживания автоматических (АКПП и CVT) коробок передач в Санкт-Петербурге. В нашем арсенале имеется всё для предоставления высокого качества обслуживания по приемлемой цене.</p>
		</header>

		<div class="section-body">
			<ul class="section-features section-features--left">
				<li class="section-feature" data-aos="zoom-in-right">
				<i class="fa fa-users" aria-hidden="true"></i>
				<h4 class="section-feature-title">Команда</h4>
				<p>У&nbsp;нас работает команда профессионалов в&nbsp;сфере ремонта АКПП, CVT и&nbsp;мы&nbsp;знаем своё дело.</p>
				</li>

				<li class="section-feature" data-aos="zoom-in-right">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<h4 class="section-feature-title">Запчасти</h4>
				<p>Мы&nbsp;закупаем только качественные запчасти у&nbsp;проверенных поставщиков, специализирующихся на&nbsp;автоматических и&nbsp;вариаторных трансмиссиях.</p>
				</li>
			</ul><img class="section-features-image" src="assets/pavel-small.jpg"/><ul class="section-features section-features--right">
				<li class="section-feature" data-aos="zoom-in-left" data-aos-delay="150">
				<i class="fa fa-tachometer" aria-hidden="true"></i>
				<h4 class="section-feature-title">Оборудование</h4>
				<p>У&nbsp;нас имеется всё необходимое оборудование для диагностики и&nbsp;ремонта.</p>
				</li>

				<li class="section-feature" data-aos="zoom-in-left" data-aos-delay="150">
				<i class="fa fa-rocket" aria-hidden="true"></i>
				<h4 class="section-feature-title">Сервис</h4>
				<p>Мы&nbsp;работаем без выходных и&nbsp;возьмемся за&nbsp;ремонт Вашего авто незамедлительно.</p>
				</li>
			</ul>
		</div>
	</div>
</section>
