<form class="form" action="https://formspree.io/russianculturalexchange@gmail.com" method="POST">
	<div class="content-centered">
		<header class="form-header">
			<h2 class="form-title">Join Us</h2>
			<h3 class="form-tagline">Get discount 10% for all events</h3>
		</header>
		<input class="form-input" placeholder="Name" type="text" name="name">
		<input class="form-input" placeholder="Email" type="email" name="phone">
		<input class="form-input" placeholder="Phone" type="tel" name="phone">
		<input class="form-submit button"type="submit" value="Send">
	</div>
</form>