<section id="gallery" class="section--gallery">

	<div class="swiper-container section-gallery">
		<div class="swiper-wrapper">
			<div class="swiper-slide section-gallery-item">
				<img class="section-gallery-item-image" alt="autoservice акпп вариатор робот transmission коробка" src="assets/transmission-1.jpg"/>
			</div>
			<div class="swiper-slide section-gallery-item">
				<img class="section-gallery-item-image" alt="autoservice автосервис вариатор робот трансмиссия коробка" src="assets/transmission-2.jpg"/>
			</div>
			<div class="swiper-slide section-gallery-item">
				<img class="section-gallery-item-image" alt="autoservice автосервис акпп робот трансмиссия transmission" src="assets/transmission-3.jpg"/>
			</div>
			<div class="swiper-slide section-gallery-item">
				<img class="section-gallery-item-image" alt="автосервис акпп вариатор робот трансмиссия transmission коробка" src="assets/transmission-4.jpg"/>
			</div>
			<div class="swiper-slide section-gallery-item">
				<img class="section-gallery-item-image" alt="акпп вариатор трансмиссия transmission коробка" src="assets/transmission-5.jpg"/>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		window.addEventListener('load', function () {
			var mySwiper = new Swiper ('.section-gallery', {
				slidesPerView: 'auto',
				loop: true,
				nextButton: '.section-gallery .swiper-button-next',
				prevButton: '.section-gallery .swiper-button-prev',
				paginationClickable: true,
				spaceBetween: 0,
				centeredSlides: true
			})
		})
	</script>
</section>
