<section id="services" class="section section--services section--gray">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en" data-aos="fade-up">Наши услуги</h3>
			<hr class="section-dash" data-aos="fade-up" data-aos-delay="100"/>
			<div class="section-subtitle" data-lang="en" data-aos="fade-up" data-aos-delay="150">Основные виды нашей деятельности. За&nbsp;дополнительными сервисами обращайтесь по&nbsp;телефону <a href="tel:916-86-33"><nobr>916-86-33</nobr></a> или смотрите <a href="#faq">частые вопросы</a>.</div>
		</header>

		<ul class="section-body section-services" ><li class="section-service" data-aos-delay="0" data-aos="fade-up">
			<i class="fa fa-tint" aria-hidden="true"></i>
			<h4><a href="" class="link--blue">Замена масла в АКПП и CVT</a></h4>
			<p>Мы спецализируемся на профилактических процедурах и предоставляем гарантию качества по умеренной цене.</p>

			</li><li class="section-service" data-aos-delay="300" data-aos="fade-up">
			<i class="fa fa-search" aria-hidden="true"></i>
			<h4><a href="" class="link--blue">Проведение ТО</a></h4>
			<p>Мы проводим технический осмотри и диагностику наиболее важных частей трансмиссии.</p>

			</li><li class="section-service" data-aos-delay="600" data-aos="fade-up">
			<i class="fa fa-wrench" aria-hidden="true"></i>
			<h4><a href="" class="link--blue">Диагностика и ремонт</a></h4>
			<p>С выявлением дефектов или неисправностей мы делаем ремонт по умеренным ценам в разумные сроки.</p>

		</li></ul>
	</div>
</section>
