<section id="team" class="section section--team section--gray">
	<div class="centered">
		<header class="section-header">
			<h3 class="section-title" data-lang="en" data-aos="fade-up">Команда</h3>
			<hr class="section-dash" data-aos="fade-up" data-aos-delay="100"/>
			<div class="section-subtitle" data-lang="en" data-aos="fade-up" data-aos-delay="200">Наша команда</div>
		</header>

		<div class="section-body section-members">
			<div class="section-member">
				<img class="section-member-image" src="assets/member-1.png" alt="Pavel Ulyanov">
				<h3 class="section-member-title">Павел Ульянов</h3>
				<div class="section-member-subtitle">Основатель, мастер</div>
				<div class="section-member-description">Integer commodo massa non urna sodales, non pharetra magna accumsan. Integer pretium, lacus viverra convallis consectetur, tellus lacus.</div>
				<div class="section-member-social section-member-social-2">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
			</div><div class="section-member">
				<img class="section-member-image" src="assets/member-2.jpg" alt="Pavel Ulyanov">
				<h3 class="section-member-title">Антон Уваров</h3>
				<div class="section-member-subtitle">Основатель, мастер</div>
				<div class="section-member-description">Integer commodo massa non urna sodales, non pharetra magna accumsan. Integer pretium, lacus viverra convallis consectetur, tellus lacus.</div>
				<div class="section-member-social section-member-social-2">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		<div>

	</div>
</section>
